/** .navbar-brand-box, .vertical-menu { background: #202223 !important; } **/

#sidebar-menu .link-active { background:#0033a0;  }
#sidebar-menu .link-active > a { color:#fff !important;  }
#sidebar-menu .link-active > a i { color:#fff !important;  }

.select2-container { display:block; width:100% !important; }
.nav-tabs .nav-link { font-weight: 600;}
.text-primary { color: #0033a0!important; }



.modal-open .modal.show { background:rgba(0,0,0,0.5); }
.modal-dialog { margin-top:50px; }
.modal-title { font-weight:600; }

.table td, .table th {
    padding: .65rem;
}

.twitter-bs-wizard .twitter-bs-wizard-nav {     background-color: rgba(0,51,160,.1); }
.twitter-bs-wizard .twitter-bs-wizard-nav .nav-link.active .step-number {  background-color: #0033a0; }
.twitter-bs-wizard .twitter-bs-wizard-nav .step-number { border: 2px solid #0b3ca5; border: 2px solid rgba(0,51,160,.6); }
.twitter-bs-wizard .twitter-bs-wizard-pager-link li a { background-color: #0033a0; }
.twitter-bs-wizard .twitter-bs-wizard-pager-link li.disabled a {  background-color: #2b5cc5; }

.bg-info { background-color: #2b5cc5 !important; }

.kx-checkbox { font-size:25px; cursor:pointer; }
.kx-checkbox.checked {color:green; }

/* editables */
.editable.focused {  }
.editable.focused span {display:none; }
.editable > .editable-control { width:0px; height:0px; opacity:0; }
.editable > .editable-control:focus { width:100%; height:25px; opacity:1; }





/** === jepyoo styles start === **/

/* general */
body { background-color: #f6f8f9; font-family: "Roboto",sans-serif; font-weight: normal; }

/* side menu */
.navbar-brand-box, .vertical-menu { background-image: linear-gradient(45deg,var(--shine-blue) 0%,var(--hexa-blue) 100%) !important; }
.navbar-brand-box { background: #fff !important; height: 70px; border-right:1px solid #efefef; }
.navbar-brand-box a { color: #111 !important; }

#sidebar-menu ul li a { font-family: "OpenSans"; font-weight: 500; color: #fff !important;  font-size: 14px; }
#sidebar-menu ul li a i { color: #fff !important; }

.menu-title { color: #fff !important; }

/* footer */
.footer { background: #eee !important; }



/** Modules **/

/* btn */
.btn { font-family: "OpenSans" !important; }
.btn-primary { color: #fff; background-color: var(--hexa-blue); border-color: var(--hexa-blue); }
.btn-danger { color: #fff; background-color: var(--hexa-red); border-color: var(--hexa-red); }

.btn-danger:hover { color: #fff; background-color: #636678; border-color:#5d6071; }

/* card */
.card { box-shadow: 0 1px 4px 0 rgba(21,27,38,.08) !important; }



/** === jepyoo styles end === **/