

/** .navbar-brand-box, .vertical-menu { background: #202223 !important; } **/

.datepicker { z-index: 3000 !important; }
.datepicker-switch { text-align:center !important; }

#sidebar-menu .link-active { background: var(--shine-blue);  }
#sidebar-menu .link-active > a { color: #fff !important; font-weight: 600; }
#sidebar-menu .link-active > a i { color: var(--hexa-blue) !important;  }
#sidebar-menu ul li ul.sub-menu li a { padding: .5rem 1.5rem .5rem 3.5rem; }

.select2-container { display:block; width:100% !important; }
.nav-tabs .nav-link { font-weight: 500;}
.text-primary { color: #0033a0!important; }

.text-loader { color: #0033a0!important; }


.modal-open .modal.show { background:rgba(0,0,0,0.5); }
.modal-dialog { margin-top:50px; }
.modal-title { font-weight:600; }

.table td, .table th {
	padding: 0 4px;
	font-size: 12px;
}

.twitter-bs-wizard .twitter-bs-wizard-nav {     background-color: rgba(0,51,160,.1); }
.twitter-bs-wizard .twitter-bs-wizard-nav .nav-link.active .step-number {  background-color: #0033a0; }
.twitter-bs-wizard .twitter-bs-wizard-nav .step-number { border: 2px solid #0b3ca5; border: 2px solid rgba(0,51,160,.6); }
.twitter-bs-wizard .twitter-bs-wizard-pager-link li a { background-color: #0033a0; }
.twitter-bs-wizard .twitter-bs-wizard-pager-link li.disabled a {  background-color: #2b5cc5; }

.bg-info { background-color: #2b5cc5 !important; }

.kx-checkbox { font-size:25px; cursor:pointer; }
.kx-checkbox.checked {color:green; }

/* editables */
.editable.focused {  }
.editable.focused span {display:none; }
.editable > .editable-control { width:0px; height:0px; opacity:0; }
.editable > .editable-control:focus { width:100%; height:25px; opacity:1; }





/** === jepyoo styles start === **/

/* general */
body { background-color: #f6f8f9; font-family: "Roboto",sans-serif; font-weight: normal; }
.main-content { margin-left: 230px; }
.cursor-pointer { cursor: pointer; }
.bg-grey { background-color: #eee; }
.bg-shineblue { background: var(--shine-blue); }

.table-transaction tr.total-bg-grey { background-color: #eee; }
.table-transaction tr.total-bg-grey th { border-bottom-color: rgb(187, 187, 187) !important; }
.table-transaction tr.table-success,
.table-transaction tr.table-success>td,
.table-transaction tr.table-success>th { background-color: #f5f5f5 !important; }


.td-border-bottom-black-2 tr:nth-last-child(4) td { border-bottom-color: #495057 !important; }
.td-border-bottom-black-2 tr:nth-last-child(3) td { border-bottom-color: #495057 !important; }
.td-border-bottom-black-2 tr:nth-last-child(2) td { border-bottom-color: #495057 !important; }

/** MODULES **/

/* THEME built-in modules (theme overrides) */

/*table*/
.hx-table-wrap { border: 1px solid var(--hexa-darkgrey); }

.table { margin-bottom: 0; }
.table td { vertical-align: middle; }
.table thead th { text-align: center; padding: 1px 4px; /*background-color: #f9f9f9;*/ }
.table-bordered td, .table-bordered th { border-color: #eee !important; }

.test .table th { border-top-color: transparent !important; }
.test .table th:first-child { border-left-color: transparent !important; }
.test .table th:last-child { border-right-color: transparent !important; }
.test .table tbody tr td:first-child { border-left-color: transparent !important; }
.test .table tbody tr td:last-child { border-right-color: transparent !important; }

.table .hx-table-actions {
	width: 65px;
	display: block;
	margin-left: auto;
	margin-right: auto;
    padding: 1px 0;
}
.table .hx-table-actions .btn-sm {
	padding: 2px 3px;
    font-size: 13px;
    line-height: 1;
}

.table .hx-table-actions .dropdown.btn-group button { border-color: #ccc; }
.table .hx-table-actions .dropdown.btn-group .dropdown-menu.show {
    border: 1px solid var(--hexa-darkgrey);
    outline: 0;
    min-width: 6rem;
    padding: .2rem 0;
}
.table .hx-table-actions .dropdown.btn-group .dropdown-item { color: #495057; }



/*badge*/
.hx-badge-override {
	background: #50a5f1;
    color: #fff;
    padding-top: 4px;
    border-radius: 35px;
    margin-right: 4px;
}

/*card override*/
.hx-card-override { box-shadow: 0px 0.5px 10px #e5e4e2; }
.hx-card-override .card-header {
    padding: 13px 20px;
    background-color: #f9f9f9;
    /*border: 1px solid #ddd;*/
    border: 1px solid var(--hexa-darkgrey);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.hx-card-override .card-header h5 {
    color: #333;
    font-weight: 600;
    font-size: 16px;
}
.hx-card-override .card-body {
    border: 1px solid #ddd;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.hx-card-override.no-header {
    border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px solid var(--hexa-darkgrey);
}

/* nav-tabs */
.hx-tab {
	background: #fff;
	padding: 15px;
	/*box-shadow: 0 1px 4px 0 rgba(21,27,38,.08) !important;*/
	box-shadow: 0px 0.5px 10px #e5e4e2;
	margin-bottom: 20px;
	border-radius: .25rem;
}

/*hx-tab-1*/
.hx-tab-1 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 68px;
    overflow: hidden;
    transition: border 250ms ease;
}

.hx-tab-1 > ul.nav {
    display: unset;
    flex-wrap: unset;
}
.hx-tab-1 .nav-tabs .nav-item { margin-bottom: 0px; }
.hx-tab-1 .nav-tabs .nav-link { border: 1px solid  !important; font-size: 12px; border: 1px solid var(--hexa-darkgrey) !important; }
.hx-tab-1 .nav-tabs .nav-link.active { font-weight: 600 !important; border-bottom: 1px solid transparent !important; }

.hx-tab-1 .tab-content {
    border: 1px solid var(--hexa-darkgrey);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    padding: 15px;
    padding-top: 20px;
    background-color: #fff;
}
.hx-tab-1 > ul.nav-tabs { border-bottom: unset; margin-bottom: -1px; }

.hx-tab-1 > ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
    list-style-type: none;
}

.hx-tab-1 > ul > li { float: right; }

.hx-tab-1 > ul li a {
    display: block;
    float: right;
    padding: 9px 24px 7px;
    padding-left: 40px;
    background-color: #f1f1f1;
    margin-right: 25px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    color: #495057;
    font-weight: 600;
    transition: all 250ms ease;
}

.hx-tab-1 > ul li:first-child a { margin-right: 50px; }

.hx-tab-1 > ul * {
    margin: 0px;
    padding: 0px;
}

/* tabs: round tabs */
.hx-tab-1.round > ul li a {
  border-radius: 4px 4px 0 0;
}
.hx-tab-1.round > ul li a:before {
  border-radius: 0 4px 0 0;
}
.hx-tab-1.round > ul li a:after {
  border-radius: 4px 0 0 0;
}

.hx-tab-1 > ul li a:before {
    display: block;
    content: " ";
    position: absolute;
    top: -1px;
    right: -24px;
    height: calc(100% + 2px);
    width: 44px;
    border-top: 1px solid var(--hexa-darkgrey);
    border-right: 1px solid var(--hexa-darkgrey);
    border-bottom: 1px solid var(--hexa-darkgrey);
    background-color: #f1f1f1;
    transform: skew(12deg,0deg);
    box-shadow: rgb(0 0 0 / 10%) 3px 3px 5px, inset rgb(255 255 255 / 9%) -13px 0;
    transition: all 250ms ease;
}

.hx-tab-1 > ul li a.active {
    z-index: 3;
}

.hx-tab-1 > ul li a.active, .hx-tab-1 > ul li a.active:before {
    background-color: #fff;
    color: #333 !important;
    border-bottom: 1px solid transparent;
}

/*hx-tab-2*/
.hx-tab-2 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 68px;
    overflow: hidden;
    transition: border 250ms ease;
}

.hx-tab-2  ul.nav {
    display: unset;
    flex-wrap: unset;
}
.hx-tab-2 .tab-content {
    border: 1px solid var(--hexa-darkgrey);
    border-top: 4px solid var(--shine-blue);
    padding: 15px;
    border-radius: 4px;
}
.hx-tab-2 ul.nav-tabs { border-bottom: unset; margin-bottom: 0; }

.hx-tab-2 ul.nav-tabs {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
    padding-left: 48px;
    list-style-type: none;
}

.hx-tab-2 ul.nav-tabs  li { float: right; }

.hx-tab-2 ul.nav-tabs li a {
    display: block;
    float: right;
    padding: 9px 24px 7px;
    background-color:#f1f1f1;
    margin-right: 46px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    color: #495057;
	/**font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;*/
	font-weight: 600;
    transition: all 250ms ease;
}

.hx-tab-2 ul.nav-tabs * {
    margin: 0px;
    padding: 0px;
}

/* tabs: round tabs */
.hx-tab-2.round ul.nav-tabs li a {
  border-radius: 4px 4px 0 0;
}
.hx-tab-2.round ul.nav-tabs li a:before {
  border-radius: 0 4px 0 0;
}
.hx-tab-2.round ul.nav-tabs li a:after {
  border-radius: 4px 0 0 0;
}

.hx-tab-2 ul.nav-tabs li a:before, .hx-tab-2 ul.nav-tabs li a:after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 44px;
    background-color: #f1f1f1;
    transition: all 250ms ease;
}

.hx-tab-2 ul.nav-tabs li a:before {
    right: -24px;
    transform: skew(30deg, 0deg);
    box-shadow: rgb(0 0 0 / 10%) 3px 2px 5px, inset rgb(255 255 255 / 9%) -1px 0;
}

.hx-tab-2 ul.nav-tabs li a:after {
    left: -24px;
    transform: skew(-30deg, 0deg);
    box-shadow: rgb(0 0 0 / 10%) -3px 2px 5px, inset rgb(255 255 255 / 9%) 1px 0;
}

.hx-tab-2 ul.nav-tabs li a.active { z-index: 3; }

.hx-tab-2 ul.nav-tabs li a.active,
.hx-tab-2 ul.nav-tabs li a.active:before,
.hx-tab-2 ul.nav-tabs li a.active:after {
    background-color: var(--shine-blue);
    color: #fff;
}

/*hx-side-tab*/
.hx-side-tab {
    display: flex;
    background: #fff;
    min-height: 70vh;
    width: 80%;
}
.hx-side-tab > ul {
    display: block;
    width: 200px;
    border: 1px solid var(--hexa-darkgrey);
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: .6em;
}
.hx-side-tab .tab-content {
    width: calc(100% - 200px);
    border-top: 0;
    border-radius: 0;
    border: 1px solid var(--hexa-darkgrey);
    padding: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.hx-side-tab .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: #495057;
    padding: .5rem 1rem !important;
    margin-bottom: 2px;
    border-radius: 4px;
    font-size: 12px;
}
.hx-side-tab .nav-link.active,
.hx-side-tab .nav-link:hover,
.hx-side-tab .nav-link:focus {
    color: #fff;
    background: var(--shine-blue);
}


/* b-dropdown 'dissappearing carret on hover & click' fix */
.b-dropdown.dropdown { background-color: #e7e9ec; }
.b-dropdown.dropdown.btn-group button { background: transparent !important; }
.b-dropdown.dropdown.btn-group button:hover,
.b-dropdown.dropdown.btn-group button:focus {
    background: transparent!important;
    background-color: transparent!important;
    box-shadow: none !important;
} 

/*modal (single field forms)*/
@media (min-width: 992px) {
	.modal-single-form .modal-dialog { max-width: 350px; margin-top: 150px; }
	.modal-md-form .modal-dialog { max-width: 650px; margin-top: 150px; }
}
.modal-single-form .modal-dialog button,
.modal-single-form .modal-dialog input { width: 100%; }
.modal-single-form .modal-dialog .form-group { margin-bottom: .5rem; }

/*nav-tabs*/
.hx-nav-tabs-override .nav-tabs { background-color: var(--hexa-blue); border-top-left-radius: .25rem; border-top-right-radius: .25rem; margin-bottom: 0 !important; border-bottom: 0 !important; }
.hx-nav-tabs-override .nav-tabs .nav-item { margin-bottom: 0; }
.hx-nav-tabs-override .nav-item .nav-link { color: white; border: none; }
.hx-nav-tabs-override .nav-item .nav-link.active { color: #fff !important; background-color: var(--shine-blue); }
.hx-nav-tabs-override .nav-item .nav-link::after { content: none; }
.hx-nav-tabs-override .tab-content { border: 1px solid var(--hexa-darkgrey); border-top: 0; padding: 20px; border-bottom-left-radius: .25rem; border-bottom-right-radius: .25rem; }


/*form fields*/
.form-control, .select2-container, .select2-selection, .select2-container .select2-selection--single, .select2-container .select2-selection--multiple { min-height:34px !important;  }

.form-control.disabled { opacity:0.7; }
/*navtabs*/
.nav.nav-tabs { margin-bottom: 1rem; }
.nav.nav-tabs .nav-link.active { font-weight: 700; color: #333; }
/*badge*/
.noti-icon .badge { top: 17px; right: 3px; }
/*scrollbar*/
.simplebar-scrollbar { width: 10px; }
.simplebar-track.simplebar-vertical { width: 12px; }

/*btn*/
.btn { font-family: "OpenSans" !important; }
.btn-danger:hover { color: #fff; background-color: #636678; border-color:#5d6071; }

.btn-shineblue { color: #fff; background: var(--shine-blue); }
.btn-shineblue:hover { background: var(--hexa-blue); border-color: var(--hexa-blue); color: #fff; transition: .3s; }

.select-wrap.options-wrap { display: flex; align-items: center; padding-left: 5px; }
.select-wrap.options-wrap .btn {
    line-height: 20px;
    height: 22px;
    padding: 0 8px;
    background: #fff;
}
.select-wrap.options-wrap .btn:hover {
    background: var(--shine-blue);
    border-color: var(--shine-blue);
}

/** HEXA in-house modules (custom modules) **/

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.hx-contained { max-width:1200px; margin:0px auto; }

.bootstrap-datetimepicker-widget .bx.bxs-eraser:after { content: ' CLEAR' !important; font-style: normal;}

/*tables*/
thead.th-nowrap th { white-space: nowrap !important; }
tr.tr-grandtotal td {
	border-color: transparent !important;
}
tr.tr-grandtotal td:nth-child(8) { border-color: #eee !important; border-left: 2px solid; }
tr.tr-grandtotal td:nth-child(9) { border-color: #eee !important; }

/*btns*/
.hx-btn-single {
    border: 1px solid #ccc;
    padding: 2px 10px;
    line-height: 1;
    color: #495057;
    font-size: 12px;
    border-radius: 4px;
}
.hx-btn { 
    color: #fff; background-color: #eee; border: 1px solid #eee; display: flex;align-items: center; justify-content: center;
	padding: 7px; padding-left: 12px; padding-right: 12px; border-radius: 4px;transition: .3s;
}

.hx-btn.disabled  { opacity:0.6; }

.hx-btn span { width: max-content; line-height: 1; }
.hx-btn i    { font-size: 14px; margin-right: 4px; }
.hx-btn-primary-gradient { background-image: linear-gradient(45deg,var(--shine-blue) 0%,var(--hexa-blue) 100%) !important; }
.hx-btn-shineblue { background: var(--shine-blue); border-color: var(--shine-blue);  color:#fff; }
.hx-btn-shineblue:hover { opacity: .7; color: #fff; transition: .3s; }
.hx-btn-primary { background: var(--hexa-blue); border-color: var(--hexa-blue); }
.hx-btn-primary:hover { background: var(--hexa-blue); border-color: var(--hexa-blue); color: #fff; transition: .3s; }
/*.hx-btn-danger { background: var(--hexa-red); border-color: var(--hexa-red); }*/
/*.hx-btn-danger:hover { background: var(--hexa-red); border-color: var(--hexa-red); color: #fff; transition: .3s; }*/
.hx-btn-gray { background: #eee; border: 1px solid #ddd; color:#333;}
.hx-btn-gray:hover { background: #ddd; border: 1px solid #ccc; color:#222; transition: .3s; }

.hx-btn-red { background: #f46a6a; border: 1px solid #ddd; color:#fff;}
.hx-btn-red:hover { background: #ee3838; border: 1px solid #ccc; color:#fff; transition: .3s; }

.hx-hexagon-burger { position: relative; margin-right: 3px; }
.hx-hexagon-burger svg { font-size: 32px; }
.hx-hexagon-burger i {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
}

.hx-btn-upload {
	border: 1px solid #eeee;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
}

/** SIDEBAR AND TOPBAR **/

/* page-topbar (header) */
#page-topbar { box-shadow: none; }
/*.navbar-header { height: 50px; background-image: linear-gradient(-45deg,var(--shine-blue) 0%,var(--hexa-blue) 80%) !important; }*/
.navbar-header { height: 50px; background-color: var(--hexa-blue); }
.navbar-header .app-search .form-control { height: 35px; width: 450px; background-color: #f9f9f9; }
.navbar-header .app-search { padding: 0; }
.navbar-header .bx-bell { color: #fff; }
.header-item { height: 50px; }

.navbar-brand-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent !important;
    height: 50px;
    line-height: 50px;
    font-size:20px;
    font-weight:600;
    width: auto;
}
.navbar-brand-box a { color: #fff !important; }

.navbar-header .client-name {
	border-left: 1px solid #fff;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
	padding-left: 10px;
}
#page-header-user-dropdown { color: #fff !important; }
#page-header-user-dropdown:active { color: #111 !important; }
img.header-profile-user { background: #fff; }

/* side menu */
/*.vertical-menu { background-image: linear-gradient(45deg,var(--hexa-blue) 0%,var(--hexa-blue) 100%) !important; top: 50px; border-top: 1px solid #e0e0e0; }*/
.vertical-menu {
    top: 50px;
    border-top: 1px solid #e0e0e0;
    background-color: #fff !important;
    width: 230px;
    box-shadow: 0px 0.5px 10px #e5e4e2;
    border-right: 1px solid #e0e0e0;
}

#sidebar-menu ul li a { font-family: "OpenSans"; font-weight: 500; color: #222 !important;  font-size: 14px; }
#sidebar-menu ul li a i { color: #222 !important; }

.menu-title { color: #fff !important; }


/* side menu (if collapsed) */
.vertical-menu, .main-content, #sidebar-menu, .footer, .actions-bar { transition: .3s; }

.collapsed-sidebar .vertical-menu { width: 0; transition: .3s; }
.collapsed-sidebar .main-content  { margin-left: 0; transition: .3s; }
.collapsed-sidebar #sidebar-menu  { margin-left: -250px; transition: .3s; }
.collapsed-sidebar .footer 		  { left: 0; transition: .3s; }
.collapsed-sidebar .actions-bar   { left: 0; transition: .3s; width: 100%; }

/* main */
.page-content { padding: calc(70px + 24px) 3px 60px 3px; min-height: calc(100vh - 120px);  }
.page-content { padding-top: calc(94px + 20px); }
.page-content.no-actions-bar { padding-top: calc(50px + 24px); }

/* actions bar */
.actions-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 230px;
    padding: 8px 15px;
    width: calc(100% - 230px);
    background: #fff;
    border-top: 1px solid #e8ecee;
    border-bottom: 1px solid #e0e0e0;
	z-index: 999;
	box-shadow: 0px 0.5px 10px #eee;
}
.actions-bar h1.title   { font-size: 20px; display: flex; align-items: center; margin-bottom: 0; }
.actions-bar h1.title i { font-size: 24px; margin-right: 5px; }
.actions-bar .bar-right { display: flex; gap: 5px; justify-content: flex-end; width: 100%; }
.actions-bar .bar-right a { padding-left: 10px; padding-right: 10px; line-height: 1; }
.actions-bar .bar-right span { display: flex; gap: 5px; justify-content: flex-end; width: 100%; }
.actions-bar .bar-right input { width: 220px; }
.actions-bar .form-control { height: unset; min-height: unset !important; padding: 0; padding-left: 10px; }

/* utilities (helpers) */
.h-36 { height: 36px; }
.w-65px { width: 65px; }
.w-100px { width: 100px; }
.w-120px { width: 120px; }
.w-200px { width: 200px; }
.pr-18 { padding-right: 18px }
.fs-26 { font-size: 26px; }
.c-danger { color: var(--danger); }
.c-success { color: var(--success); }

/* footer */
/*.footer { background-image: linear-gradient(-45deg,var(--shine-blue) 0%,var(--hexa-blue) 80%) !important; height: unset; padding: 5px; }*/
.footer {
    background-color: var(--hexa-blue )!important;
    height: unset;
    padding: 5px;
    left: 230px;
}
.footer div { color: #fff; }
.footer img { width: 55px; height: auto; }

/* accordion */
#accordion .card { border: 1px solid #ddd; margin-bottom: 10px; }
#accordion .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .25rem;
    transition: .2s;
    padding: 6px 12px;
}
#accordion .card-header h5 { font-size: 14px; }
#accordion .card-header:hover { background: #eee; transition: .3s; }
#accordion .card-body { border-top: 1px solid #ddd; }
#accordion .card-header i { font-size: 24px; color: #aaa; }



/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
  
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
  
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }
  
/** === jepyoo styles end === **/

/** === Kenji STYLES START === */
.card-1200 { max-width:1200px; margin:0px auto; }
.dropdown.m-2 { margin: 0rem !important; margin-top:2px !important; margin-bottom:2px !important; }

.dropdown .btn-secondary {
    color: #495057!important;
    background: #e7e9ec !important;
    min-width: 50px;
}

.dropdown .btn-secondary.btn-sm {
    padding: 1px 3px;
}

.btn-secondary.m-2 {
    margin: 0rem !important; 
    margin-bottom:2px !important; 
    margin-top:2px !important;
    color: #495057!important;
    background: rgb(231, 233, 236) !important;
    min-width: 55px !important; 
    padding: 0px !important; 
}

.dropdown .btn-secondary.dropdown-toggle-split {
    min-width: 20px;
}


.b-dropdown:after {
    font-family: dripicons-v2!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\54";
    position:absolute;
    top:3px;
    right:4px;
    color:#656565;
}


.table-hover tbody tr:hover { color: #526484; background-color: rgba(237,245,255,255) !important; }

.table-selected, .table-selected>td, .table-selected>th { background-color: #f8f9fa !important; }


.buy-and-pay-summary {
    margin-bottom: 30px;
    padding: 10px;
    background: #fff !important;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 12%);
}

.btn-gray-small {
    padding: 2px 10px;
    border-color: #ccc;
    background: #e7e9ec;
    color: #495057!important;
    font-size:11px; 
    border:1px solid #ccc;
    margin-top: 2px;
    margin-bottom: 3px;
    border-radius:3px;
}

.btn-gray-small:hover {
    opacity:0.9;
    background: #ccc;
}

.btn-closer-square { 
    background: rgb(255, 255, 255); text-align:center; border: 1px solid rgb(204, 204, 204); color: rgb(51, 51, 51); display: inline-block; font-size: 16px; height: 20px;  line-height: 22px;
    width: 20px;  font-weight: 600; padding: 0px; 
}

.form-control-gray-medium { width:100%; height:30px; font-size: 12px; line-height: 30px; padding: 0px 10px; min-height: 30px !important; border:1px solid #ccc; }
.form-control-gray-small { width:100%; border:1px solid #ccc; }
.form-control-gray-small.error, .form-control-gray-medium.error {  border:1px solid red; color:#000; }
